{% extends "base.html.twig" %}
{% block menu %}
    {% for menuItem in menu %}
        <a href="{{ menuItem.route }}" class="btn btn-ghost text-xl">
            {{ menuItem.caption }}
        </a>
    {% endfor %}
{% endblock %}
{% block body %}
    <form method="post" action="/newUser">
        <label class="input input-bordered flex items-center gap-2">
            Titulaire
            <input type="text" name="titulaire" class="grow" placeholder="Nom du titulaire" />
        </label>
        <div class="divider"></div>
        <button class="btn btn-neutral">Créer le compte</button>
    </form>
{% endblock %}